In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('Desktop/Datasets/DataAnalyst.csv')
df.head(20)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
5,5,Data Analyst,$37K-$66K (Glassdoor est.),About Cubist\nCubist Systematic Strategies is ...,3.9,Point72\n3.9,"New York, NY","Stamford, CT",1001 to 5000 employees,2014,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
6,6,Business/Data Analyst (FP&A),$37K-$66K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,2001,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
7,7,Data Science Analyst,$37K-$66K (Glassdoor est.),Data Science Analyst\n\nJob Details\nLevel\nEx...,3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 to 500 employees,1914,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),"Travelers, Chubb, Crum & Forster",True
8,8,Data Analyst,$37K-$66K (Glassdoor est.),The Data Analyst is an integral member of the ...,4.0,DMGT\n4.0,"New York, NY","London, United Kingdom",5001 to 10000 employees,1896,Company - Public,Venture Capital & Private Equity,Finance,$1 to $2 billion (USD),"Thomson Reuters, Hearst, Pearson",-1
9,9,"Data Analyst, Merchant Health",$37K-$66K (Glassdoor est.),About Us\n\nRiskified is the AI platform power...,4.4,Riskified\n4.4,"New York, NY","New York, NY",501 to 1000 employees,2013,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,"Signifyd, Forter",-1
10,10,Data Analyst,$37K-$66K (Glassdoor est.),NYU Grossman School of Medicine is one of the ...,4.0,NYU Langone Health\n4.0,"New York, NY","New York, NY",10000+ employees,1841,Hospital,Health Care Services & Hospitals,Health Care,$5 to $10 billion (USD),"NewYork-Presbyterian Hospital, Northwell Health",-1
11,11,Data Analyst,$37K-$66K (Glassdoor est.),BulbHead is currently seeking a Data Analyst t...,-1.0,BulbHead,"Fairfield, NJ",-1,1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
12,12,DATA ANALYST,$37K-$66K (Glassdoor est.),Job Summary:\n\nThe Clinical Research Data Ana...,3.7,Montefiore Medical\n3.7,"New York, NY","Bronx, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
13,13,Senior Data Analyst,$37K-$66K (Glassdoor est.),About Known\n\nKnown is a modern marketing com...,3.0,Known\n3.0,"New York, NY","New York, NY",201 to 500 employees,2004,Company - Private,Advertising & Marketing,Business Services,$100 to $500 million (USD),-1,True
14,14,Investment Advisory Data Analyst,$37K-$66K (Glassdoor est.),Investment Advisory Compliance Opportunity in ...,3.4,Advisor Group\n3.4,"Jersey City, NJ","Phoenix, AZ",1001 to 5000 employees,2016,Company - Private,Brokerage Services,Finance,$1 to $5 million (USD),-1,-1
15,15,Sustainability Data Analyst,$37K-$66K (Glassdoor est.),Job Description\nRole Description\n\nSustainab...,3.6,CodeGreen Solutions\n3.6,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Building & Personnel Services,Business Services,Unknown / Non-Applicable,-1,-1
16,16,Data Analyst,$37K-$66K (Glassdoor est.),Undertone stands alone among AdTech and ad net...,3.8,Undertone\n3.8,"New York, NY","New York, NY",201 to 500 employees,2001,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"DoubleClick, Specific Media, Collective",True
17,17,Clinical Data Analyst,$37K-$66K (Glassdoor est.),About Us:\n\nNYSTEC is a non-profit technology...,3.8,NYSTEC\n3.8,"New York, NY","Rome, NY",51 to 200 employees,1996,Nonprofit Organization,Consulting,Business Services,$25 to $50 million (USD),"KPMG, Accenture, Deloitte",-1
18,18,DATA PROGRAMMER/ANALYST,$37K-$66K (Glassdoor est.),Company Description\n\nEDUCATION DEVELOPMENT C...,3.9,"Education Development Center, Inc.\n3.9","New York, NY","Waltham, MA",501 to 1000 employees,1958,Nonprofit Organization,Research & Development,Business Services,$100 to $500 million (USD),-1,-1
19,19,Data Analyst,$37K-$66K (Glassdoor est.),"About Us\n\nAt Teachers Pay Teachers (TpT), we...",4.9,Teachers Pay Teachers\n4.9,"New York, NY","New York, NY",51 to 200 employees,2006,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,-1

## Data Cleaning and Feature Engineering
1. Fix Salary (add min, max, avg columns)
2. Extract Job title
3. Extract Company Name
4. Extract Job city from location
5. Extract job state from location
6. Same location column if headquarters and location are the same
7. Add age of company from founded column
9. Add Number of competitor columns
10. Drop unnamed column
11. Skills needed

In [3]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

In [4]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split(' ')[0])

In [5]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('$', ''))
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('K', ''))

In [6]:
df['Salary Estimate']

0        37-66
1        37-66
2        37-66
3        37-66
4        37-66
         ...
2248    78-104
2249    78-104
2250    78-104
2251    78-104
2252    78-104
Name: Salary Estimate, Length: 2253, dtype: object

In [7]:
df['Min_Salary'] = df['Salary Estimate'].apply(lambda x: x.split('-')[0])
df['Max_Salary'] = df['Salary Estimate'].apply(lambda x: x.split('-')[1])

In [8]:
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
Min_Salary           0
Max_Salary           0
dtype: int64

In [9]:
df.drop(df[df['Min_Salary'] == ''].index, inplace=True)
df.drop(df[df['Company Name'].isnull()].index, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2251 entries, 0 to 2252
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2251 non-null   int64
 1   Job Title          2251 non-null   object
 2   Salary Estimate    2251 non-null   object
 3   Job Description    2251 non-null   object
 4   Rating             2251 non-null   float64
 5   Company Name       2251 non-null   object
 6   Location           2251 non-null   object
 7   Headquarters       2251 non-null   object
 8   Size               2251 non-null   object
 9   Founded            2251 non-null   int64
 10  Type of ownership  2251 non-null   object
 11  Industry           2251 non-null   object
 12  Sector             2251 non-null   object
 13  Revenue            2251 non-null   object
 14  Competitors        2251 non-null   object
 15  Easy Apply         2251 non-null   object
 16  Min_Salary         2251 non-null   object
 17  Max_Salary         2251 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 334.1+ KB

In [11]:
df['Min_Salary'] = df['Min_Salary'].astype('int64')
df['Max_Salary'] = df['Max_Salary'].astype('int64')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2251 entries, 0 to 2252
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2251 non-null   int64
 1   Job Title          2251 non-null   object
 2   Salary Estimate    2251 non-null   object
 3   Job Description    2251 non-null   object
 4   Rating             2251 non-null   float64
 5   Company Name       2251 non-null   object
 6   Location           2251 non-null   object
 7   Headquarters       2251 non-null   object
 8   Size               2251 non-null   object
 9   Founded            2251 non-null   int64
 10  Type of ownership  2251 non-null   object
 11  Industry           2251 non-null   object
 12  Sector             2251 non-null   object
 13  Revenue            2251 non-null   object
 14  Competitors        2251 non-null   object
 15  Easy Apply         2251 non-null   object
 16  Min_Salary         2251 non-null   int64
 17  Max_Salary         2251 non-null   int64
dtypes: float64(1), int64(4), object(13)
memory usage: 334.1+ KB

In [13]:
df['Avg Salary'] = (df['Min_Salary'] + df['Max_Salary'])/ 2

In [14]:
# Extract Job title and add seniority
df['Job Title'].value_counts().head(50)

Data Analyst                                                                        404
Senior Data Analyst                                                                  90
Junior Data Analyst                                                                  30
Business Data Analyst                                                                28
Sr. Data Analyst                                                                     21
Data Analyst II                                                                      17
Data Analyst Junior                                                                  17
Data Quality Analyst                                                                 17
Data Governance Analyst                                                              16
Lead Data Analyst                                                                    15
Data Reporting Analyst                                                               13
Financial Data Analyst                                                               12
Data Analyst III                                                                     11
Data Analyst I                                                                       11
Sr Data Analyst                                                                       9
Marketing Data Analyst                                                                9
Data Management Analyst                                                               8
Data Warehouse Analyst                                                                8
SQL Data Analyst                                                                      7
Data Science Analyst                                                                  7
Technical Data Analyst                                                                7
Healthcare Data Analyst                                                               6
Data Security Analyst                                                                 6
Clinical Data Analyst                                                                 6
Research Data Analyst                                                                 6
Data Analyst III (Healthcare Analytics)                                               5
Product Data Analyst                                                                  5
Senior Healthcare Data Analyst                                                        5
NY Healthcare Data/Reporting Analyst                                                  5
Master Data Analyst                                                                   4
Business/Data Analyst                                                                 4
Operations Data Analyst                                                               4
Senior Data Quality Analyst                                                           4
Data Base Programmer/Analyst                                                          4
Data Analyst Intern                                                                   4
Senior Contract Data Analyst                                                          4
Quality Data Analyst                                                                  4
Data Analyst, Data & Analytics (Advanced Analytics) Manager (Multiple Positions)      4
TX Healthcare Data/Reporting Analyst                                                  4
Healthcare Data/Reporting Analyst                                                     4
Division Data and Financial Analyst                                                   3
Data Warehouse Analyst III                                                            3
Data analyst                                                                          3
Data and User Acceptance Test Analyst                                                 3
Data Integrity Analyst                                                                3
Data Analyst IV                                                                       3
HR Data Analyst                                                                       3
HR Data Analyst II                                                                    3
Data Visualization Analyst                                                            3
Senior Product Data Analyst                                                           3
Name: Job Title, dtype: int64

In [15]:
def seniority(job):
    if 'senior' in job.lower() or 'sr.' in job.lower() or 'sr' in job.lower() or 'III' in job.lower() or 'lead' in job.lower() or 'manager' in job.lower() or 'principal' in job.lower():
        return 'senior'
    elif 'junior' in job.lower() or 'jr.' in job.lower() or 'jr' in job.lower() or 'I' in job.lower():
        return 'junior'
    else:
        return 'associate'

In [16]:
def job_simplify(job):
    if 'business' in job.lower():
        return 'Business Data Analyst'
    elif 'financial' in job.lower():
        return 'Financial Data Analyst'
    elif 'marketing' in job.lower():
        return 'Marketing Data Analyst'
    elif 'healthcare' in job.lower() or 'clinical' in job.lower():
        return 'Healthcare Data Analyst'
    elif 'quality' in job.lower() or 'qa' in job.lower():
        return 'Data Quality Analyst'
    else:
        return 'Data Analyst'

In [17]:
df['job_simp'] = df['Job Title'].apply(job_simplify)

In [18]:
df['job_simp'].value_counts()

Data Analyst               1858
Business Data Analyst       182
Healthcare Data Analyst      71
Data Quality Analyst         62
Financial Data Analyst       46
Marketing Data Analyst       32
Name: job_simp, dtype: int64

In [19]:
df['seniority'] = df['Job Title'].apply(seniority)
df['seniority'].value_counts()

associate    1672
senior        506
junior         73
Name: seniority, dtype: int64

In [20]:
# Extract Company name
df['Company Name'] = df['Company Name'].apply(lambda x: x.split('\n')[0])

In [21]:
df['Company Name'].value_counts()

Staffigo Technical Services, LLC    58
Diverse Lynx                        22
Kforce                              19
Lorven Technologies Inc             19
Mondo                               14
                                    ..
Hikma Pharmaceuticals                1
Centers Plan for Healthy Living      1
Trinity Health                       1
Capital Management                   1
Softpath System LLC                  1
Name: Company Name, Length: 1501, dtype: int64

In [22]:
# Extract Job city from location
# Extract job state from location
df['Job City'] = df['Location'].apply(lambda x: x.split(',')[0])
df['Job State'] = df['Location'].apply(lambda x: x.split(',')[1])

In [23]:
df['Job City'].value_counts()

New York          310
Chicago           130
San Francisco     119
Austin             81
Los Angeles        80
                 ...
Tarrant             1
East Palo Alto      1
Indian Trail        1
Henderson           1
National City       1
Name: Job City, Length: 249, dtype: int64

In [24]:
df['Job State'].value_counts()

 CA          626
 TX          394
 NY          345
 IL          164
 PA          114
 AZ           97
 NC           89
 CO           88
 NJ           86
 WA           53
 VA           48
 OH           35
 UT           33
 FL           27
 IN           23
 DE           11
 Arapahoe      8
 GA            4
 SC            3
 KS            3
Name: Job State, dtype: int64

In [25]:
#age column
df['company_age'] = 2020 - df['Founded']

In [26]:
df.head(10)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,Easy Apply,Min_Salary,Max_Salary,Avg Salary,job_simp,seniority,Job City,Job State,company_age
0,0,"Data Analyst, Center on Immigration and Justic...",37-66,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY",201 to 500 employees,1961,...,-1,True,37,66,51.5,Data Analyst,associate,New York,NY,59
1,1,Quality Data Analyst,37-66,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+ employees,1893,...,-1,-1,37,66,51.5,Data Quality Analyst,associate,New York,NY,127
2,2,"Senior Data Analyst, Insights & Analytics Team...",37-66,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY",1001 to 5000 employees,2003,...,GoDaddy,-1,37,66,51.5,Data Analyst,senior,New York,NY,17
3,3,Data Analyst,37-66,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity,"New York, NY","McLean, VA",201 to 500 employees,2002,...,-1,-1,37,66,51.5,Data Analyst,associate,New York,NY,18
4,4,Reporting Data Analyst,37-66,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel,"New York, NY","New York, NY",501 to 1000 employees,2009,...,DraftKings,True,37,66,51.5,Data Analyst,associate,New York,NY,11
5,5,Data Analyst,37-66,About Cubist\nCubist Systematic Strategies is ...,3.9,Point72,"New York, NY","Stamford, CT",1001 to 5000 employees,2014,...,-1,-1,37,66,51.5,Data Analyst,associate,New York,NY,6
6,6,Business/Data Analyst (FP&A),37-66,Two Sigma is a different kind of investment ma...,4.4,Two Sigma,"New York, NY","New York, NY",1001 to 5000 employees,2001,...,-1,-1,37,66,51.5,Business Data Analyst,associate,New York,NY,19
7,7,Data Science Analyst,37-66,Data Science Analyst\n\nJob Details\nLevel\nEx...,3.7,GNY Insurance Companies,"New York, NY","New York, NY",201 to 500 employees,1914,...,"Travelers, Chubb, Crum & Forster",True,37,66,51.5,Data Analyst,associate,New York,NY,106
8,8,Data Analyst,37-66,The Data Analyst is an integral member of the ...,4.0,DMGT,"New York, NY","London, United Kingdom",5001 to 10000 employees,1896,...,"Thomson Reuters, Hearst, Pearson",-1,37,66,51.5,Data Analyst,associate,New York,NY,124
9,9,"Data Analyst, Merchant Health",37-66,About Us\n\nRiskified is the AI platform power...,4.4,Riskified,"New York, NY","New York, NY",501 to 1000 employees,2013,...,"Signifyd, Forter",-1,37,66,51.5,Data Analyst,associate,New York,NY,7

In [27]:
df['Size'].value_counts()

51 to 200 employees        420
10000+ employees           375
1001 to 5000 employees     348
1 to 50 employees          347
201 to 500 employees       249
501 to 1000 employees      211
-1                         162
5001 to 10000 employees     97
Unknown                     42
Name: Size, dtype: int64

In [28]:
df['num_competitors'] = df['Competitors'].apply(lambda x: 0 if x == '-1' else len(x.split(',')))

In [29]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Min_Salary', 'Max_Salary', 'Avg Salary', 'job_simp',
       'seniority', 'Job City', 'Job State', 'company_age', 'num_competitors'],
      dtype='object')

In [30]:
df[['Competitors','num_competitors']]

                                            Competitors  num_competitors
0                                                    -1                0
1                                                    -1                0
2                                               GoDaddy                1
3                                                    -1                0
4                                            DraftKings                1
...                                                 ...              ...
2248                                                 -1                0
2249                     Avnet, Ingram Micro, Tech Data                3
2250                                                 -1                0
2251                                                 -1                0
2252  Centura Health, HealthONE, Denver Health and H...                3

[2251 rows x 2 columns]

In [31]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [32]:
# parsing of Job description for common tools
# Structured Query Language (SQL)
df['sql'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)

In [33]:
df['sql'].value_counts()

1    1387
0     864
Name: sql, dtype: int64

In [34]:
# Microsoft Excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [35]:
df['excel'].value_counts()

1    1352
0     899
Name: excel, dtype: int64

In [36]:
# R
df['R_code'] = df['Job Description'].apply(lambda x: 1 if 'r-studio' in x.lower() or 'r studio' in x.lower() or 'rstudio' in x.lower() else 0)

In [37]:
df['R_code'].value_counts()

0    2236
1      15
Name: R_code, dtype: int64

In [38]:
# Python
df['python_code'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [39]:
df['python_code'].value_counts()

0    1614
1     637
Name: python_code, dtype: int64

In [40]:
# Tableau
df['tableau'] = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)

In [41]:
df['tableau'].value_counts()

0    1631
1     620
Name: tableau, dtype: int64

In [42]:
# SAS
df['SAS'] = df['Job Description'].apply(lambda x: 1 if 'sas' in x.lower() else 0)

In [43]:
df['SAS'].value_counts()

0    1840
1     411
Name: SAS, dtype: int64

## Unknown data (stated as -1)

In [51]:
df['Industry'].value_counts()

-1                                  352
IT Services                         325
Staffing & Outsourcing              322
Health Care Services & Hospitals    151
Consulting                          111
                                   ...
Metals Brokers                        1
Chemical Manufacturing                1
Hotels, Motels, & Resorts             1
Stock Exchanges                       1
Trucking                              1
Name: Industry, Length: 89, dtype: int64

In [77]:
df.pivot_table(index = 'Industry', values='Avg Salary')

                                      Avg Salary
Industry
-1                                     72.690341
Accounting                             76.294872
Advertising & Marketing                72.598039
Aerospace & Defense                    68.500000
Architectural & Engineering Services   72.307692
...                                          ...
Utilities                              83.250000
Vehicle Dealers                        49.666667
Venture Capital & Private Equity       78.500000
Video Games                            68.375000
Wholesale                              73.583333

[89 rows x 1 columns]

In [61]:
df.loc[df['Founded'] == -1, 'company_age'] = 0

In [63]:
df.loc[df['company_age'] == 0, 'Founded'] = 0

In [64]:
df['company_age'].value_counts()

0      659
12      80
24      54
18      54
20      54
      ...
94       1
92       1
86       1
111      1
235      1
Name: company_age, Length: 161, dtype: int64

In [70]:
df.loc[df['Size'] == '-1', 'Size'] = 'Unknown'

In [71]:
df['Size'].value_counts()

51 to 200 employees        420
10000+ employees           375
1001 to 5000 employees     348
1 to 50 employees          347
201 to 500 employees       249
501 to 1000 employees      211
Unknown                    204
5001 to 10000 employees     97
Name: Size, dtype: int64

In [75]:
df.loc[df['Revenue'] == 'Unknown', 'Revenue'] = 'Unknown / Non-Applicable'

In [76]:
df['Revenue'].value_counts()

Unknown / Non-Applicable            777
$100 to $500 million (USD)          218
$50 to $100 million (USD)           199
$10+ billion (USD)                  189
$10 to $25 million (USD)            132
$2 to $5 billion (USD)              129
$1 to $5 million (USD)              111
$25 to $50 million (USD)            109
Less than $1 million (USD)           93
$1 to $2 billion (USD)               87
$500 million to $1 billion (USD)     79
$5 to $10 million (USD)              72
$5 to $10 billion (USD)              56
Name: Revenue, dtype: int64

In [49]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Min_Salary', 'Max_Salary', 'Avg Salary', 'job_simp',
       'seniority', 'Job City', 'Job State', 'company_age', 'num_competitors',
       'sql', 'excel', 'R_code', 'python_code', 'tableau', 'SAS'],
      dtype='object')

In [78]:
df.to_csv('data-analyst-cleaned.csv', index=False)